MONGO_URI=mongodb+srv://<username>:<password>@cluster0-zbsik.mongodb.net
MONGO_DB_NAME=''
CHAT_LINK_DOMAIN=''
CHATE2EE_API_URL='http://localhost:3001'
# JSON array. Empty by default: no public STUN/TURN request is made automatically.
CHATE2EE_ICE_SERVERS='[]'
# Use 'relay' only when CHATE2EE_ICE_SERVERS contains a working TURN server.
CHATE2EE_ICE_TRANSPORT_POLICY='all'
CHATE2EE_ENABLE_DEBUG_LOGS='false'
